.footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
}
.main {
      margin-top: 20px;
}
a {
    padding: 0;
}
.tag {
    margin-bottom: 10px;
    margin-right: 5px;
}
.blog-main {
    padding: 20px;
}