{% extends 'admin.html' %}

{% block title %}编辑分类{% endblock %}

{% block css %}
{% endblock %}


{% block body %}
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">编辑</strong> /
        <small>Category</small>
      </div>
    </div>
    <hr>
      <!--content start-->
      <div class="am-container">
          <div class="am-g">
              <div class="am-u-md-2">

              </div>
             <div class=" am-u-md-10">
          <form class="am-form am-form-horizontal" method="post" action="{{ url_for('main.category_edit') }}">
            <div class="am-form-group">
              <label for="user-name" class="am-u-sm-3 am-form-label">名称: </label>
              <div class="am-u-sm-9">
                <input type="text" id="user-name" value="" name="category_name">
              </div>
            </div>


            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <input type="submit" class="am-btn am-btn-primary" value="保存修改">
              </div>
            </div>
          </form>
        </div>
              <div class="am-u-md-2">

              </div>
          </div>
      </div>
      <!--content end-->
  </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}