{% extends 'base.html' %}


{% block body %}
    <br>
    <br>

    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-2">

            </div>
             <div class="col-md-2">
                 <a href="" class="thumbnail">
                      <img src="{{ url_for('static', filename=current_user.head_portrait) }}" >
                 </a>
              </div>
            <div class="col-md-4">
                <form class="row" method="post" action="{{ url_for('main.upload_portrait') }}" enctype="multipart/form-data">
                    <div class="col-md-4">
                        <br>
                        <input type="file" name="file">
                    </div>
                    <div class="col-md-4">
                        <br>
                        <input  class="btn btn-default" type="submit" value="更改头像">
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <p>我的关注: 100</p>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <p>我的粉丝: 0</p>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>Name: </h3>
            <br>
            <h3>Great Word: </h3>
            <br>
            <h3>People give tags: </h3>
        </div>
    </div>
        <br>
        <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>most popular post</h2>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
        </div>
    </div>
        <br>
        <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>How many people watch you or posts</h2>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <hr>
        </div>
    </div>
        <br>
        <br>
    </div>
{% endblock %}