{% extends 'base.html' %}


{% block body %}
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
             <div class="col-md-2">
                 <a href="#" class="thumbnail">
                      <img src="{{ url_for('static', filename="user/BUGLAN/L3.png") }}" >
                 </a>
              </div>
            <div class="col-md-3">
                <br>
                <p>更改头像</p>
                <p>上传</p>
            </div>
            <div class="col-md-3">
                <br>
                <br>
                <p>我的关注</p>
                <p>我的粉丝</p>
            </div>

        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>Name: </h3>
            <br>
            <h3>Great Word: </h3>
            <br>
            <h3>People give tags: </h3>
        </div>
    </div>
        <br>
        <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>most popular post</h2>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
        </div>
    </div>
        <br>
        <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>How many people watch you or posts</h2>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <p>Base in Python3</p>
            <hr>
        </div>
    </div>
        <br>
        <br>
    </div>
{% endblock %}