{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    {#<script src="/static/ckeditor/ckeditor.js" type="text/javascript">#}
    {#</script>#}
    <link rel="stylesheet" href="/static/simplemde/github-markdown.css">
    <link rel="stylesheet" href="/static/simplemde/simplemde.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <script src="/static/simplemde/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("text"),
            autoDownloadFontAwesome: false,
            status: false
        });
    </script>
{% endblock %}