{% extends 'base.html' %}
{% block css %}
    <style>
        #search {
            width: 540px;
            height: 37px;
            font-size: 16px;
        }

        .search-btn {
            height: 44px;
            width: 100px;
            background-color: #3385FF;
            font-size: 15px;
            color: #FFF;
            border: solid;
            margin-left: -8px;
            border-style: none \9;
            height: 36px \9;

        }

        #main_novel {
            margin-top: 20px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    </div>
    <div id="main_novel">
        <form action="{{ url_for('novel.search') }}" method="get">
            <input type="text" id="search" name="keyword">
            <input type="submit" value="搜索" class="search-btn">
        </form>
    </div>


    <!------------------->
    <div class="am-container">
        <div class="am-g">
            <div></div>
            <div class="am-u-md-12 main">
                <div class="">
                    <ul class="am-list am-list-static am-list-border">
                        {% if items %}
                            <table class="am-table am-table-bordered">
                                <thead>
                                <tr>
                                    <th>书名</th>
                                    <th>最新章节</th>
                                    <th>作者</th>
                                    <th>字数</th>
                                    <th>更新</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                    <td><a href="{{ url_for('novel.novel_chapters', key_url=item[0] | url_filter) }}">{{ item[1] }}</a></td>
                                    <td><a href="{{ item[2] }}">{{ item[3] }}</a></td>
                                    <td>{{ item[4] }}</td>
                                    <td>{{ item[5] }}</td>
                                    <td>{{ item[6] }}</td>
                                    <td>{{ item[7] }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        {% else %}
                            <h1 style="text-align: center;">请输入书名或者作者名</h1>
                        {% endif %}
                    </ul>
                </div>
                <hr class="am-article-divider">
            </div>
        </div>
    </div>

{% endblock %}